<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="<%=request.getContextPath()%>/js/base/alert.js"></script>
<script src="<%=request.getContextPath()%>/js/base/dropdown.js"></script>
<script src="<%=request.getContextPath()%>/js/base/name.js"></script>
<script src="<%=request.getContextPath()%>/js/base/num.js"></script>