<!-- script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="js/base/alert.js"></script>
<script src="js/base/dropdown.js"></script>
<script src="js/base/name.js"></script>
<script src="js/base/navbar.js"></script>
<script src="js/base/num.js"></script>
<script src="js/base/sidebar.js"></script>
<script src="js/charts/analytics_1.js"></script>
<script src="js/charts/salesOverview.js"></script>
<script src="js/charts/summary.js"></script>
<script src="js/external/prism.js"></script>

<!-- end script -->